/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Droid Serif', serif; padding-bottom: 20px;}
h1{font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1em; font-family: 'Roboto', sans-serif;}

p {padding:10px 0;}

header {background-color: #333;color:#eee;text-align: center; padding:25px 0;}
.user {background-color: #eee;padding:15px 0;}

nav { margin:20px 0;}
	nav .fa {font-size: 2em;}

	nav button {
		border:none;
		border-right:5px solid #eee;
		height:50px;
		width:calc(100% / 4);
		background-color: #fff;
		cursor:pointer;
	}
	nav button:last-child{
		border-right:none;
	}

.grades {
	width:100%;
}
	.grades h2 {
		margin-bottom: 25px;
	}
	.grades .row {
		/*background-color: #eee;*/
		min-width: 350px;
		padding:0 10px;
		margin:10px 0;	
	}
	.grades .row:last-child{margin-bottom: 50px;}

.full-row {
	width:calc(100% - 50px);
	float:left;
	line-height: 50px;
	height:50px;
	border-bottom: 5px solid #eee;
}

.xsm-row {width:50px;height:50px;float:left;}
/*.circle {border-radius: 50%;}*/
	.xsm-row p {text-align: center;font-size: 1.5em; font-weight: 300; line-height: 50px; padding:0;}

@media (max-width: 800px){
	.grades h2 {line-height: 15px}
}


.green {border-bottom: 5px solid #2ecc71;}
.dark-green {border-bottom: 5px solid #27ae60;}
.yellow {border-bottom: 5px solid #f1c40f;}
.orange{border-bottom: 5px solid #e98b39;}
.red {border-bottom: 5px solid #e74c3c;}
.gray {border-bottom: 5px solid #eee}

/*.green {background-color: #2ecc71;}
.dark-green {background-color: #27ae60;}
.yellow {background-color: #f1c40f;}
.orange{background-color: #e98b39;}
.red {background-color: #e74c3c;}*/


.content {width:75%; margin:25px auto 50px;}

.clear {clear:both;}

/*.course-info {
	padding-top: 50px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 70%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;
}

#course-nav {
	display: table;
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

	#course-nav button {
		float: left;
		line-height: 38px;
		overflow: hidden;
		padding: 0;
		position: relative;
		background-color: #eff0f2;
		border-bottom: 1px solid #fff;
		color: #888;
		font-weight: 500;
		display: block;
		letter-spacing: 0;
		outline: none;
		padding: 0 20px;
		text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		border-bottom: 2px solid #333;
	}

.course-item {
	display: none;
	padding: 30px 0;
}
	.course-item:first-child {display: block;}

.current a {
	color: #fff;
	background: #333;
}*/