/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Droid Serif', serif; text-transform: capitalize;}

h2 {font-size: 1.5em;}
h3 {font-size: 1em;}

nav { margin:20px 0;}
	nav .fa {font-size: 2em;}

	nav button {
		border:none;
		border-right:1px solid black;
		height:50px;
		width:calc(100% / 4);
		background-color: #fff;
		cursor:pointer;
	}
	nav button:last-child{
		border-right:none;
	}

.grades {
	width:100%;
}
	.grades h2 {
		margin-bottom: 25px;
	}
	.grades .row {
		background-color: #eee;
		min-width: 350px;
		padding:10px;
		margin:10px 0;	
	}

.full-row {
	width:calc(100% - 50px);
	float:left;
}

.xsm-row {width:50px;height:50px;float:left;}
.circle {border-radius: 50%;}
	.xsm-row.circle {line-height: 50px; text-align: center;}

.green {border: 5px solid green;}

.content {width:75%; margin:0 auto;}

.clear {clear:both;}